<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragment/head :: head">
    <title>Create a New Recipe</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragment/header :: header">header</div>
        <h4>Create a New Recipe</h4>
        <form action="#" th:action="@{/recipe/post}" th:object="${recipe}" method="post" enctype="multipart/form-data" class="form">
            <ul th:if="${#fields.hasErrors('*')}" class="list-unstyled">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" class="has-error">Input is incorrect</li>
            </ul>
            <table class="table">
                <tr><td>Description</td><td><input th:field="*{description}" /></td></tr>
                <tr><td>Prep Time</td><td><input th:field="*{prepTime}" /></td></tr>
                <tr><td>Cook Time</td><td><input th:field="*{cookTime}" /></td></tr>
                <tr><td>Servings</td><td><input th:field="*{servings}" /></td></tr>
                <tr><td>Source</td><td><input th:field="*{source}" /></td></tr>
                <tr><td>Url</td><td><input th:field="*{url}" /></td></tr>
                <tr><td>Direction</td><td><input th:field="*{direction}" /></td></tr>
                <tr>
                    <td>Difficulty</td>
                    <td>
                        <select th:field="*{difficulty}">
                            <option th:each="diff : ${difficultyList}"
                                    th:value="${diff}"
                                    th:text="${diff}">Difficulty Option</option>
                        </select>
                    </td>
                </tr>

    <!--            <tr><td>Image</td><td><input type="file" th:field="*{image}" /></td></tr>-->
                <tr><td>Note</td><td><textarea th:field="*{note.text}"></textarea></td></tr>

    <!--            <tr><td>Ingredient 1</td><td><input th:field="*{ingredients.description}" name="ingredients[]" /></td></tr>-->
    <!--            <tr><td>Ingredient 2</td><td><input th:field="*{ingredients.description}" name="ingredients[]" /></td></tr>-->
    <!--            <tr><td>Ingredient 3</td><td><input th:field="*{ingredients.description}" name="ingredients[]" /></td></tr>-->
    <!--            <tr><td>Ingredient 4</td><td><input th:field="*{ingredients.description}" name="ingredients[]" /></td></tr>-->
    <!--            <tr><td>Ingredient 5</td><td><input th:field="*{ingredients.description}" name="ingredients[]" /></td></tr>-->

                <tr>
                    <td>Categories</td>
                    <td>
                        <select multiple="multiple" th:field="*{categoryIds}">
                            <option th:each="cat : ${categoryList}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}">Category Option</option>
                        </select>
                    </td>
                </tr>

                <tr><td colspan="2" align="right"><input type="submit" value="Create" /></td></tr>
            </table>
        </form>
        <div th:replace="fragment/footer :: footer">footer</div>
    </div><!-- /container -->
</body>
</html>