<div class="header clearfix" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">
    <nav>
        <ul class="nav nav-pills navbar-right">
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </nav>
</div>