<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragment/head :: head">
    <title>Homepage</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragment/header :: header">header</div>
        <h4>Show Recipes</h4>
        <p class="pull-right">[<a href="#" th:href="@{/recipe/create}">create</a>]</p>
        <table class="table">
            <tr><th>ID</th><th>Recipe</th></tr>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}">123</td>
                <td>
<!--                    <a th:href="@{/order/details(id=${order.id})}">-->
<!--                    <form th:action="@{/mycontroller/{path}(path=${type})}">-->
<!--                    <a th:href="@{/recipe/view/{id}(id=${item.id})}"-->
                    <a th:href="@{'/recipe/view/' + ${item.id}}"
                       th:text="${item.description}">Spicy Indian Curry with Chicken</a>
                </td>
            </tr>
        </table>
        <div th:replace="fragment/footer :: footer">footer</div>
    </div><!-- /container -->
</body>
</html>